h2 {
    text-align: center;
    font-size: 3em;
    background: -webkit-gradient(linear, right top, right bottom, from(#F54768), to(skyblue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.temperaments-table {
    margin: auto;
    padding: 0 10%;
}

.temperaments-table th {
    padding: 0.5%;
}

.temperaments-table th > ul {
    color: #f1f1f1;
}

.choleric-button, .choleric-content {
    background-image: radial-gradient(100% 100% at 100% 0, #FF928B 0, #FFAC81 100%);
}

.phlegmatic-button, .phlegmatic-content {
    background-image: radial-gradient(100% 100% at 100% 0, #09C6F9 0, #045DE9 100%);
    
}

.sanguine-button, .sanguine-content {
    background-image: radial-gradient(100% 100% at 100% 0, #3EADCF 0, #ABE9CD 100%);

}

.melancholic-button, .melancholic-content {
    background-image: radial-gradient(100% 100% at 100% 0, #55D284 0, #F2CF07 100%);
}

.temperaments-table th > button {
    align-items: center;
    appearance: none;
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
}

.temperaments-table th > button:hover {
    transform: translateY(-2px);
}

.temperaments-table th > button:active {
    transform: translateY(2px);
}

.choleric, .melancholic, .phlegmatic {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.choleric:hover {
    box-shadow: #FF9677 0px 25px 50px -12px;
}

.phlegmatic:hover, .sanguine:hover{
    box-shadow: skyblue 0px 25px 50px -12px;
}

.melancholic:hover {
    box-shadow: forestgreen 0px 25px 50px -12px;
}

.collapsible {
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.temperaments-table th > img, .temperament-content {
    aspect-ratio: 16 /9;
    border-radius: 20px;
}

.temperaments-table th > img {
    width: 100%;
}

.temperament-content {
    opacity: 0.8;
    z-index: 2;
    padding: 2%;
    text-align: left;
    display: none;
    position: fixed;
    width: 20%;
    max-width: 400px;
}

.choleric-animation, .phlegmatic-animation {
    bottom: 50%;
}

.sanguine-animation, .melancholic-animation {
    bottom: 5%;
}

.choleric-animation, .sanguine-animation {
    left: 100%;
    -webkit-animation: slideLeft 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slideLeft 0.5s forwards;
}

.phlegmatic-animation, .melancholic-animation {
    right: 100%;
    -webkit-animation: slideRight 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slideRight 0.5s forwards;
}

@-webkit-keyframes slideLeft {
    100% {
        left: 0;
    }
}

@keyframes slideLeft {
    100% {
        left: 0;
    }
}

@-webkit-keyframes slideRight {
    100% {
        right: 0;
    }
}

@keyframes slideRight {
    100% {
        right: 0;
    }
}